@import "vars";
@import "foundation-imports";

// .body {
//     position: relative;
// }

#root {
    height: 100%;
}

.map {
    height: 100%;
    width: 100%;
}

.leaflet-routing-alt  {
    h2 {
        display: none;
    }
}

.map-directions {
    position: absolute;
    top: 0;
    right: 0;
}