@import "vars";
@import "foundation-imports";

// .body {
//     position: relative;
// }

#root {
    height: 100%;
}

.map, .container {
    height: 100%;
    width: 100%;
}

.leaflet-routing-alt  {
    h2 {
        display: none;
    }
}

.map-directions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    overflow: scroll;
}