<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Heatmapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
     <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/dist/leaflet.draw.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"></link>
  </head>
  <body>
    <div id="root"></div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>